flows.json
[
    {
        "id": "a01fc774c0ad6b9e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "tab1",
        "type": "tab",
        "label": "Sensor Temperatura Demo",
        "disabled": false,
        "info": ""
    },
    {
        "id": "n1-inject",
        "type": "inject",
        "z": "tab1",
        "name": "Disparo cada 5s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "n2-function"
            ]
        ]
    },
    {
        "id": "n2-function",
        "type": "function",
        "z": "tab1",
        "name": "Simular sensor temperatura",
        "func": "// Genera una temperatura aleatoria entre 15 y 35 grados\nmsg.payload = +(Math.random() * (35 - 15) + 15).toFixed(1);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 120,
        "wires": [
            [
                "n3-debug",
                "n4-switch"
            ]
        ]
    },
    {
        "id": "n3-debug",
        "type": "debug",
        "z": "tab1",
        "name": "Ver temperatura",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 80,
        "wires": []
    },
    {
        "id": "n4-switch",
        "type": "switch",
        "z": "tab1",
        "name": "Temperatura > 30?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "30",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 660,
        "y": 160,
        "wires": [
            []
        ]
    }
]